:root {
  --white-50: #fff;
  --white-100: #e5f1ff;

  --pink-50: #eb455f;
  --purple-50: #e016e0;

  --blue-50: #bad7e9;
  --blue-100: #181d31;
  --blue-100-opacity-80: #181d31cc;

  --black-50: #3d404c;
  --black-100: #151419;

  --spacing-xl: 32px;
  --spacing-lg: 22px;
  --spacing-md: 16px;
  --spacing-sm: 8px;

  --font-size-xxxl: 64px;
  --font-size-xxl: 32px;
  --font-size-xl: 22px;
  --font-size-lg: 16px;
  --font-size-md: 14px;
  --font-size-sm: 12px;
}
