// colors
$primary: #E00167;
$secondary: #E617E6;
$tertiary: #181D31;
$light: #FFFFFF;

// fonts 
$primary-typography: 'Sora', sans-serif;
$secondary-typography: 'Pacifico', cursive;

:export {
  colors: {
    primary: $primary;
    secondary: $secondary;
    tertiary: $tertiary;
    light: $light;
  };
  fonts: {
    primary: $primary-typography;
    secondary: $secondary-typography;
  }
}